<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Golosloom использует микрофон для голосовых звонков.</string>
	<key>NSCameraUsageDescription</key>
	<string>Golosloom использует камеру для видеозвонков.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Golosloom использует запись экрана для демонстрации во время звонка.</string>
</dict>
</plist>
